header
{
    background-color: rgba(65, 59, 62, 0.8);
    color: white
}
html, body
{
margin: 0;
padding: 0;
}
h1, h2, h3 {
    font-style: Agency FB;
    text-align: center;
}
p{
    font-style: Avantgarde;
    text-align: center;
}
h1{
    font-size: 500%;
}
h2{
    border-bottom: 1px solid black;
}