/*{
    border: 1px solid aqua;
}*/

*{
    font-family: Baskerville, 'Comic Sans MS', 'Times New Roman';
    
}

html{
    background-color: #882043;
}

/* for color and width of the boxes*/
header, .colorBoxes, .mainer, .navi {
    background-color: rgb(255, 255, 255); 
    opacity: 0.8;
}

header, .colorBoxes, .mainer {
    background-color: rgb(255, 255, 255);
    width: 60%; 
    border-radius: 8px;
    opacity: 0.8;
    padding: 30px;
}


