/* alles im Titel*/
.header {
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
}
#name{
    font-size: 300%;
}

.Titel {
    display: block;
    text-align: center;
}

img {
    height: 300px;
}

.line{
    border: 0.5px solid black;
    width: 95%;
}

/*alles vom body*/
body {
    display: flex;
    flex-direction: column;
    text-align: center;
    place-items: center;
    gap: 100px;
}

.font {
    font-weight: bold;
    margin-bottom: 10px;
}

.italic {
    font-style: italic;
    margin-top: unset;
    margin-bottom: 1em;
}

p {
    margin-bottom: unset;
    margin-top: 6px;
}

.Abstand {
    margin-bottom: 25px;
}

.h2aside {
    margin-bottom: 5px;
}

#diplomas{
    margin-top: 6.5em;
}
/*Buttons zu anderen Seiten*/

links{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

/*Navigationsliste*/

#navList{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navi{
    text-decoration: none;
    color: black;
    border: 1.5px solid black;
    text-align: center;
    padding: 7px;
    width: 150px;
    border-radius: 8px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.navi:hover{
    text-decoration: underline;
    opacity: 1;
}

.navi:active{
    background-color: #fcdae5;
}