.boxes{
    display: flex;
    width: 100%;
    background-color: bisque;
    height: 250px;
    gap: 12px;
    flex-direction: column;
}
.box{
    background-color: aqua;
}
.box2{
    background-color: blue;
    height: 12px;

}
.boxA{
    gap: 12px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}
.TitelA{
    background-color: brown;
}
noemi{
}
#no{
    background-color: aquamarine;
}